
@font-face {
font-family: 'My';
src: url('SourceSansPro-Regular.otf') format('opentype');
}
body{width:100%;  padding:0; margin:0; font-family:'My';  background-repeat:no-repeat; background-size:cover}
p,h1,h2,h3,h4,h5,h6{padding:0; margin:0}
.intro{font-size:50px; color:red; font-weight:900}
#int{margin-top:100px; text-align:center; margin-left:auto; margin-right:auto}
.floats{float:left; width:30%; background:#ff9; min-height:30px; margin-left:2%; text-align:center; padding-top:12px}
#menu{width:90%; margin-left:auto; margin-right:auto}

#int{margin-bottom:50px}
a{text-decoration:none; color:#333}
#auth{height:180px; width:380px; margin-left:auto; margin-right:auto; margin-bottom:50px; background:rgba(255, 255, 255, 0.5); text-align:center; padding-top:30px}

input[type="text"], input[type="password"]{width:80%; height:30px; margin-bottom:15px; padding-left:2%; font-family:'My'}
input[type="submit"]{width:80px; height:35px; margin-bottom:5px; float:right; margin-right:10%; font-family:'My'}
.cl{clear:both}
.si{color:#fbfbfb}